{% extends "shared/base.html" %}


{% block title %}
  <title>Add a New Dependency Update</title>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="text-danger font-weight-bold">
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </div>
    </div>

    <div class="row my-5">
      <h3 class="text-center display-4">Add a Dependency to Table</h3>
      <form method="POST">
        <div class="mb-3">
          <input type="text" required class="form-control" name="name" value="{{name}}" placeholder="Dependency name here">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Latest Approved Version e.g. 3.9.1 or 3.x" name="latest_version" value="{{latest_version}}" class="form-control">
        </div>
        <div class="mb-3">
          <input type="text" required placeholder="Deadline in format YYYY-MM-DD e.g. 2022-03-15" name="deadline" value="{{deadline}}" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
  {% endblock %}
